.search-btn {
	width: 100%;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.search-btn-container {
	padding-left: 0px !important;
}

.search-input-container {
	width: 100%;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.search-input {
	padding-right: 0px !important;
}

.bootstrap-tagsinput .tag {
	margin: 1px 2px 1px 0;
	color: #ffffff;
	background: #093fab;
	font-size: .6rem;
	border-radius: 5%;
}

.bootstrap-tagsinput .tag span button {
	margin: 1px 2px 1px 0;
	color: #ffffff;
	background: #093fab;
	font-size: .6rem;
	border-radius: 1px;
}
