/* Form */

.form-divide-outer {
    margin-bottom: 2%;
    padding: 4%;
}

.form-divide-inner {
    margin-bottom: 2%;
    padding: 2%;
}

.form-header {
    background-color: grey;
    padding: 1%;
    color: #fff;
}