.dropdown-item {
	color: #2e323c !important;
	padding-left: 10% !important;
}
.dropdown-item.active {
	background-color: #093fab !important;
	color: #fff !important;
}
.dropdown-item:hover {
	color: #fff !important;
}

#logo {
	height: 50px;
}

.navbar {
	background-color: #fff !important;
}
